    <!-- 2016 Section -->
    <section id="2016" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>在2016年的时候</h2>
                <p>这一年，我在瑞典。10.21的时候，我们还在热烈准备着第一次的日本之行。你还说要去听翁昕讲印象派的变革live。我给你挑了一个黑色的ipod，你藏在宿舍某个地方，却被阿姨拿走了吧。你还嘴上说这很喜欢，哼，现在都不知道到哪里去了吧。虽然第一次用ae做了很丑的video，但也是真的很用心在挑bgm了。我想，生日还是要一些仪式感的，至少还想要感谢一下，一整年的逼志的逼逼逼逼。</p>
                <p>2016年有很多很多不安，当你说要送我去瑞典的时候，努力赚机票钱的时候，我想瑞典其实应该不算太远吧。但真的开始异国之后，我也不知道该怎么办了呢。还好你足够耐心，也足够烦人呢。幸运的是，我们有了再一次一起上学的机会。2016年的日本之行真的很棒吧，虽然各种听不懂，但是莫名觉得一切都很温柔顺利。希望2019年能够再去一次。</p>   
                <a href="" class="btn btn-default btn-lg">Xiamen</a> 
                <a href="" class="btn btn-default btn-lg">Stockholm</a> 
                <a href="" class="btn btn-default btn-lg">Shanghai</a> 
                <a href="" class="btn btn-default btn-lg">Tokyo</a> 
                <a href="" class="btn btn-default btn-lg">Nana</a> 
                <a href="" class="btn btn-default btn-lg">Yokohama</a> 
                <a href="" class="btn btn-default btn-lg">Osaka</a> 
                <a href="" class="btn btn-default btn-lg">Kyoto</a> 
            </div>
        </div>
    </section>
