    <!-- Download Section -->
    <section id="2018" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>在2018年的时候</h2>
                    <p>这一年，我们去了很多很多地方呢。从特罗姆瑟到圣托里尼，从雅典到布拉格。可是这一年的生日我们又没有在一起过了呢。你已经回国了，我一个人开始了在米兰的孤寡生活。10，20号的时候，你还在想要给我挑鞋子。你也终于做完了你的答辩开题的ppt。这一年的生日礼物是任天堂的红白机，结果你没有可以适配的电视，应该是到了金沙江路的airbnb我们才第一次开始玩吧，好像又是没有玩很久。哼哼。</p>
                    <p>我很喜欢2018年，我们一起完成了peter的studio，虽然非常非常累，但是觉得能再和你一起完成一个项目，怎么都想做好它。而且2018年，逼志带我去了很多很多地方，遇到了各种神奇的事情，像是捡到神奇戒指，遇到收养过中国女孩的导游等等等等。我好像只有这样去过，才能真正记住些什么呢。果然不能放弃走出家门，下周还是得去卑尔根或者哪里呢。</p>
                    <a href="http:" class="btn btn-default btn-lg">nice</a> 
                    <a href="http:" class="btn btn-default btn-lg">marseille</a>
                    <a href="http:" class="btn btn-default btn-lg">Milano</a>
                    <a href="http:" class="btn btn-default btn-lg">Troms</a>
                    <a href="http:" class="btn btn-default btn-lg">Prague</a>
                    <a href="http:" class="btn btn-default btn-lg">Barcelona</a>
                    <a href="http:" class="btn btn-default btn-lg">Granada</a>
                    <a href="http:" class="btn btn-default btn-lg">Santorini</a>
                    <a href="http:" class="btn btn-default btn-lg">Athina</a>
                    <a href="http:" class="btn btn-default btn-lg">Roma</a>
                    <a href="http:" class="btn btn-default btn-lg">Anhui</a>
                </div>
            </div>
        </div>
    </section>
