    <!-- 2019 Section -->
    <section id="2019" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>在2019年的时候</h2>
                <p>这一年应该是各种‘恰好’的集合，我们神奇的已经生活在了奥斯陆。我从米兰毕业，你从上海毕业。你又已经开始了你的商业学术之路～我们摇摇晃晃的居然走到了这么远的地方，人生也真是有趣极了。还是得再多尝试一下吧，之后三年就要在这里生活的话，我不想生活在无知里，我希望我们的技能环都能再向外扩展一下呢。那么，今年的生日礼物的话，本来我是想好好给你做个生日蛋糕的，但想想也是很沉重的消化负担了。所以从10月17号开始，我就在准备建这个小博客了。虽然目前只有简单的几个页面，打算以后每一年都可以加一个年度小更新。另外想把我们一起去过的地方做成外链，这也就成了我们的电子相册啦。</p>
                <p>这段时间，我一直觉得之前自己疏于记录，很多事情不记下来，不想起来，就会消失了，我希望我们以后回忆起来都能有迹可寻。总之，这个才是个开始，让我慢慢慢慢的，把我们的东西留在这里吧。2019年的逼志，生日快乐呀。</p>
                <a href="" class="btn btn-default btn-lg">Shanghai</a> 
                <a href="" class="btn btn-default btn-lg">Milano</a> 
                <a href="" class="btn btn-default btn-lg">oslo</a> 
           
            
            </div>
        </div>
    </section>
